.service_top__container {
  display: flex;
  flex-direction: row;
  background-color: #ffff;
  min-height: 650px;
}

.service_top__container_form_container {
  width: 50%;
  background-color: #ffff;
}

.service_top__container_image {
  height: 50%;
  width: 50%;
}

.service_top__container_image img {
  min-height: 650px;
}
.service_top__container_subtitle {
  color: #8c8c93;
  margin: 0;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
}

.service_top__container_main__heading {
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 30px;
  font-size: 30px;
  margin-top: 5px;
  color: #000;
  margin-bottom: 50px;
}

.service_top__container_content {
  font-family: "Open Sans", sans-serif;
  color: #555555;
  width: 100%;
  margin: 10px auto;
  display: block;
  line-height: 1.5;
}

.service_top__container_video {
  margin-top: 50px;
  width: 300px;
  height: 80px;
  border: 1px solid #a28e7c;
  border-radius: 80px;
  display: flex;
  flex-direction: row;
}

.service_top__container_video_play_icon {
  width: 30%;
  padding: 4px 0px 0px 5px;
}

.service_top__container_video_play_icon_circle {
  width: 70px;
  height: 70px;
  background-color: #a28e7c;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  cursor: pointer;
  color:#fff
}

.service_top__container_video_play_content {
  padding: 20px 10px;
  width: 70%;
}
.service_top__container_video_play_content h6 {
  font-weight: 700;
  font-size: 18px;
}

.service_top__container_video_play_content p {
  font-size: 14px;
  color: #8c8c93;
  font-weight: 400;
  font-style: italic;
}
