.service_top__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service_top__container-form_container{
    /* padding: 4rem 6rem; */
    width: 50%;
    background-color: beige;
}

.service_top__container-image{
    height: 50%;
    width: 50%;
}

.service_top__container-form_container h1{
    color: #C5AE8F 
}